<link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<%= stylesheet_link_tag "bootstrap-responsive", :media=> "screen" %>
<body id="max">
<div class="rows">
<div class="span4 offset3">
    <em><b>Sign in</b></em>
  </br>
</br>
</br>
</br>
    <%= form_for(:sessions, :url=> 'enter') do |f| %>

      <%= f.label :username%>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

     <alignleft> <%= f.submit "Sign in", :class=> "btn btn-large btn-primary" %>
    <% end %>
      </br>
    </br>
  </br>
    <p>Join Us! <color1><%= link_to "Sign up now!", signup_path %></color1></p>
 </div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br></div>
</body>