<% provide(:title, 'Welcome to Kiiido.ph') %>

<body class="wraparound">
 <div id="alignments"> 

  <center><img src="http://i46.tinypic.com/2cmt2lx.png"/></center>
  <div id="image"><a href="#"/> <img src="http://i49.tinypic.com/1eudnc.png" class="grayscale"/></a></div>
</div>
<div id="alignment">
<div class="rows">
  <div class="span4 offset3">
    <em><b>Sign in</b></em>
  </br>
</br>
</br>
</br>
    <%= form_for(:session, :url=> sessions_path) do |f| %>

      <%= f.label :username%>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

     <alignleft> <%= f.submit "Sign in", :class=> "btn btn-large btn-primary" %>
    <% end %>
      </br>
    </br>
  </br>
    <p>Join Us! <color1><%= link_to "Sign up now!", signup_path %></color1></p>
 </div>
  </div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
    </div>
    </body>

